.about_us{
	text-align: center;
	padding: 12px;
	margin-left: 12%;
	margin-right: 12%;
    border: 1px solid #ccc;
    border-radius: 4px;
	border-color: lightblue;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Kalam';
	font-size: 15px;
	font-weight: bold;
}