.options{
    background-color: rgba(255, 255, 255, 0.8);
	padding: 35px;
	font-family: 'Kalam';
	margin-left: 12%;
	margin-right: 12%;
}

button{
	width: 100%;
    background-color: #6699ff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-transform: uppercase;
}

button:hover{
    background-color: #4d88ff;
	color: white;
}