.kontakt{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	font-family: 'Kalam';
	margin-left: 12%;
	margin-right: 12%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
	width: 100%;
    background-color: #6699ff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: #4d88ff;
	color: white;
}

label{
	font-size: 15px;

}