.registration{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	font-family: 'Kalam';
	margin-left: 12%;
	margin-right: 12%;
	height: calc(80vh - 30px);
	overflow-y: auto;
	overflow-x: hidden;
}

label{
	font-size: 15px;
}

input[type=text], input[type=password] {
    width: 82%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button{
	width: 82%;
    background-color: #6699ff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-transform: uppercase;
}

button:hover {
    background-color: #4d88ff;
	color: white;
}
