.navbar {
    overflow: hidden;
    background-color: #6699ff;
    font-family: Bangers;
}

.navbar a {
    float: left;
    font-size: 17px;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#naslov{
    font-family: 'Bangers';
    font-size: 22px;
    color: #6699ff;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("doctorsoffice.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding-top: 30px;
    font-family: 'Kalam';
    font-size: 14px;
		font-weight: bold;
	text-transform: uppercase;
    color: gray;
    text-align: center;
}

.footer_font{
	font-size: 12px;
	font-family: 'Kalam';
	font-weight: bold;
	text-transform: uppercase;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-inverse{
	border-color: transparent !important;
}

.navbar-inverse .navbar-nav > .active > a{
	background-color: #4d88ff !important;
}