.search{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	font-family: 'Kalam';
	margin-left: 12%;
	margin-right: 12%;
	height: calc(80vh - 30px);
	overflow-y: auto;
	overflow-x: hidden;
}

label{
	font-size: 15px;

}

input[type=text]{
    width:82%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color:#4CAF50;
    color:white;
    padding: 14px 20px;
    margin: 9px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity:0.8;
}


span.psw{
    float: right;
    padding-top:16px;
}

@media screen and (max-width: 300px){
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 100%;
    }
}

.error{
    color: #FF0000;
}