.search1{
	font-family: 'Kalam';
	margin-right: 17%;
}

input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button{
	width: 100%;
    background-color: #6699ff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-transform: uppercase;
}

button:hover{
    background-color: #4d88ff;
	color: white;
}